<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FF14FastReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FF14FastReport.Properties.Settings>
            <setting name="AutoSaveLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ResetWhenIDStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ResetWhenJail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResetWhenLevelSync" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResetWhenJobClassChanged" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewPTMember" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewEnemy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RankingFormPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AutoSizeWidth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSizeHeight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RankingFormFontSize" serializeAs="String">
                <value>9</value>
            </setting>
        </FF14FastReport.Properties.Settings>
    </userSettings>
</configuration>