<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Infoman.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Infoman.Properties.Settings>
            <setting name="LandslideSoundFile" serializeAs="String">
                <value />
            </setting>
            <setting name="GekishinSoundFile" serializeAs="String">
                <value />
            </setting>
            <setting name="OmomiSoundFile" serializeAs="String">
                <value />
            </setting>
            <setting name="BombSoundFile" serializeAs="String">
                <value />
            </setting>
            <setting name="JailSoundFile" serializeAs="String">
                <value />
            </setting>
            <setting name="MountainSoundFile" serializeAs="String">
                <value />
            </setting>
            <setting name="SoundVolume" serializeAs="String">
                <value>10</value>
            </setting>
        </Infoman.Properties.Settings>
    </userSettings>
</configuration>