<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FFXIVLogWindow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FFXIVLogWindow.Properties.Settings>
            <setting name="Alarm1Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="Alarm2Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="Alarm3Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="Alarm4Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="Alarm5Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="Alarm6Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="Alarm7Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="Alarm8Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="Alarm9Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="Alarm10Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="Alarm1Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Alarm2Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Alarm3Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Alarm4Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Alarm5Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Alarm6Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Alarm7Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Alarm8Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Alarm9Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Alarm10Enable" serializeAs="String">
                <value>False</value>
            </setting>
        </FFXIVLogWindow.Properties.Settings>
    </userSettings>
</configuration>